body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.progress-modifier > p{
  text-align: right;
  padding-bottom: 10px;
  padding-top:-5px
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}
