:root {
    --main-background-color: #303841;
    --secondary-background-color: #282f36;
    --text-background-color: #3A4750;
    --text-color: #EEEEEE;
    --accent-color: #EA9215;
}

html, body {
	font: 14px/1.21 'Helvetica Neue', arial, sans-serif;
  font-weight: 400;
  background: var(--main-background-color) !important; 
  background: linear-gradient(to bottom right,var(--main-background-color), var(--secondary-background-color)) !important;
  color: var(--text-color) !important;
}

h1 {
	text-align: center;
}

.fullpageImage { 
  /* The image used */
  background-image: url("https://i.imgur.com/j67OwEi.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-title {
  color: white;
}

.carousel-item > img {
  margin:auto;
}

.jumbotron {
  background-color:transparent !important; 
  padding-bottom: 0rem !important;
}

.card-body {
  background-color: var(--text-background-color) !important; 
}

.experience-card, .project-card {
  border: none !important;
  background-color: none !important;
}

.btn-primary {
  background-color: var(--accent-color) !important;
  border: none !important;
}