:root {
    --main-background-color: #444444;
    --secondary-background-color: #555555;
    --text-color: #efefef;
    --toolbar-color: #1976D2;
    /*Primary color Blue:

    500: #2196F3
    700: #1976D2
    800: #1565C0

    Secondary color Pink:
    A200: #FF4081

    */
}

#background {
    /*background: url("../images/woodwall.jpg") no-repeat center;*/
    background-color: var(--main-background-color);
}

h1.header {
    color: var(--text-color);
    text-align: center;
    padding-top: 40px;
    text-shadow: #999999 1px 1px 1px;
    font-size: 5vw;
    font-family: Arial, Helvetica, sans-serif;
}
h1.subtitle {
    color: var(--text-color);
    text-align: center;
    font-size: 3vw;
    text-shadow: 1px 1px 2px gray;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: #ffffff;
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 2.5vw;
    font-family: Arial, Helvetica, sans-serif;
}

hr.mainDivider{
    width: 85vw;
}

div.horizontalContent{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

div.verticalContent{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    height: 55vw;
}
div.infoBox{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(0, 0, 0, 0.5);
    width: 60vw;
    border-radius: 4px;
    margin: auto;
}

div.infoBoxWide{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(0, 0, 0, 0.5);
    width: 90vw;
    border-radius: 4px;
}

div.picture{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: var(--secondary-background-color);
    border-radius: 4px;
    width: 29vw;
    margin: auto;
}

div.picture img{
    width: 29vw;
    border-radius: 4px;
}

#toolbar{
    border: none;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-around;
    background: var(--toolbar-color);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 2vw;
    position: fixed;
}

.toolbar-item {
    cursor: pointer;
    color: var(--text-color);
    text-align: justify;
    text-shadow: 1px 1px 1px gray;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 3px;
    font-size: 1.5vw;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}